/* Estilos específicos del template */
.custom-big-image-button {
    font-size: 20px;
    border-radius: 5px;
}

.custom-big-image-button:hover {
    cursor: pointer;
}

.leaflet-control-measure .results .group:first-child {
    height: 0;
    color: rgb(0, 0, 0, 0);
}

#map.custom-cursor {
    cursor: crosshair;
}