virtual_microscope/media/archivo/*
virtual_microscope/media/slides/*
**/migrations/
static/*
venv/*
env/

!virtual_microscope/media/archivo/
!virtual_microscope/media/slides/
!virtual_microscope/static/
!venv/


# Ignorar archivos y carpetas específicos
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db


# Ignora archivos generados automáticamente por el sistema operativo
.DS_Store


# Ignora archivos locales de configuración
local_settings.py

