<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}
{% block content %}

  
<style>


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

/* .product {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(61, 61, 61, 0.473);
    background-color: #999999; */
    
    /* border: 1px solid #383838; 
    width: 27%;
    height: 30%;
    text-align: center;
    padding: 20px;
    margin: 2%;
} */

.product {
        border-radius: 8px;
        width: 28%;
        min-width: 300px; /* Ancho mínimo para el contenedor */
        height: 30%;
        text-align: center;
        padding: 2px;
        margin: 1%;
    }

.product-image {
    
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(61, 61, 61, 0.473);
    border: 1px solid #383838; 
    /* height: auto; */
    /* object-fit: cover; */
    /* filter: brightness(105%);  */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product:hover .product-image {
    transform: scale(1.05);

    filter: brightness(1.05);
  
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-description {
    /* font-size: 1rem; */
    margin: 10px 0;
    color: #555;
    overflow-y: scroll;
    max-height: 120px; /* Altura máxima del contenedor */
}
.button {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #356b67;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  color: #ffffff;
  font-size: 24px;
}

.button:hover {
    background-color: #1565C0;
    transform: scale(1.1);
    filter: brightness(1.2);
}

#search_input {
    display: flex;
    width: 100%;
}

.search-box {
    width: 100%;
    display: flex;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 40px;
}

.search-box button {
    background-color: #949494;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;

    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-box button:hover {
    background-color: #0056b3;
}

/* .button-description {
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.button:hover .button-description {
    display: block;
} */
</style>
<script>
  // Definimos una variable llamada 'miVariable' y le asignamos un valor
  val1 = 2;

  // Mostramos el valor de la variable en el elemento HTML con el id 'resultado'
  // document.getElementById("resultado").textContent = miVariable;
</script>
<div class="container" style="background-color:rgba(255, 255, 255, 0);width:100%;height: 100%;height: auto;min-height: 100vh;" >
  <div class="separar"></div>  
 
    <h1 style="margin-top: 15px;margin-bottom: 15px;text-align: center;">Catálogo</h1>
    <div id="search_input">
      <form method="get" class="search-box">  
          <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{request.GET.buscar}}">
          <!-- <input type="hidden" name="ver" value="true"> -->
          <button class="btn btn-primary js-tooltip" type="submit">
              <i class="material-icons">search</i>
          </button>
      </form>
    </div>


    
    {%load static%} 
     
    
<div style="float: left; width: 100%;margin-top: 25px;  text-align: center;margin-bottom: 20px;">
      
        {% if user.is_authenticated %}
        {% if user.is_staff %}
          <!-- <button style= "width: 100%;"class="btn btn-success js-tooltip" onclick="location.href='{% url 'upload_file' %}'">
            <i class="material-icons">note_add</i> Añadir Lámina Virtual
          </button> -->

          <div class="button" onclick="location.href='{% url 'upload_file' %}'">
            <i class="material-icons">note_add</i>
            <!-- <div class="button-description">Agregar</div> -->
          </div>
      
          <div class="button" onclick="alert('Editar')">
              <i class="material-icons">edit</i>
              <!-- <div class="button-description">Editar</div> -->
          </div>
      
          <div class="button" onclick="alert('Eliminar')">
              <i class="material-icons">delete</i>
              <!-- <div class="button-description">Eliminar</div> -->
          </div>
        {% endif %}
        {% endif %}
    </div>

    
    <div class="pagination" style="width: 100%; justify-content: center;">
      <span class="step-links" >
          {% if catalogo.has_previous %}
              <a href="?page=1">&laquo; Primera</a>
              <a href="?page={{ catalogo.previous_page_number }}">anterior</a>
          {% endif %}
    
          <span class="current">
              Página {{ catalogo.number }} de {{ catalogo.paginator.num_pages }}.
          </span>
    
          {% if catalogo.has_next %}
              <a href="?page={{ catalogo.next_page_number }}">siguiente</a>
              <a href="?page={{ catalogo.paginator.num_pages }}">Última &raquo;</a>
          {% endif %}
      </span>
    </div>  
    <!-- <table class="product-table" >
      <tr>
        <th><h2>Nombre</h2></th>
        <th><h2>Descripción</h2></th>
        <th></th> 
        <th></th>
      </tr> -->
      <div class="product-list">
    {%for slide in catalogo%}
    <div class="product " onclick="location.href='{{ slide.get_absolute_url }}'">
        <img src="{{slide.image.url}}" alt="{{ product.name }}" class="product-image">
        <div class="product-description">
          <h2 class="product-name">{{slide.name}} </h2>
          <p style="font-size: 1rem">{{slide.description}}</p>
        </div>
    </div>
     


{%endfor%}
      </div>
    

    </ul>

  
</div>

{% endblock %}

 <!-- <tr class="btn-catalogo" onclick="location.href='{{ slide.get_absolute_url }}'">
          <td>{{slide.name}}  </td>
          <td>{{slide.description}}</td> -->
          <!-- <td><a  href='{{ slide.get_absolute_url }}'>Ver</a> </td>  -->
          <!-- <td> 
           
            <div style="margin-bottom: 2%;margin-left: 10%;padding-bottom: 70%;position:fix;width: 10%" >
    
              <img class="product-image"  src="{{slide.image.url}}" alt="Imagen de Perfil">
            
          </td> -->
          <!-- <td>
              <form  method="get">
                <input type="hidden" name="placaId" value={{slide.id}}>
              <span>
                <button class="btn btn-outline-success js-tooltip" type="submit" >Seleccionar</button>
              </span>
            </form>
          </td> -->
    <!-- </tr> -->